<h2>Trash Courses</h2>
<a href="/me/stored/courses">Go to my courses</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Level</th>
      <th scope="col">Duration</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
    <tr>
      <th scope="row">{{add @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.level}}</td>
      <td>{{this.createdAt}}</td>
      <td>
        <a class="btn btn-link btn-restore " data-id={{this._id}}>Restore</a>
        <a class="btn btn-link delete-btn"  data-toggle="modal" data-target="#force-del-course" data-id={{this._id}}>Force delete</a>
        </td>
    </tr>
    {{else}}
    <tr>
      <td colspan="5" class="text-center">Don't have any course yet</td>
    </tr>
    {{/each}}
    <div class="modal" role="dialog" id="force-del-course">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete Course</h5>
          </div>
          <div class="modal-body">
            <p>Do you want to delete this course. You cant restore after deleting. </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger force-del-confirm" >Force Delete</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <form name="restore-form" method="POST"></form>
    <form name="forceDelete-form" method="POST"></form>
    <script>
        
      //jquery import from bootstrap in main.hbs file 
      document.addEventListener('DOMContentLoaded', function() {
          
        const restoreForm = document.forms['restore-form']
        const forceDeleteForm = document.forms['forceDelete-form']
        const restoreBtn = $('.btn-restore')
        const delBtn = $('.force-del-confirm')
        let courseId 
  

        restoreBtn.click(function(){
            courseId = $(this).data('id')
            restoreForm.action = `/courses/${courseId}/restored?_method=PATCH`
            restoreForm.submit()
        })   

        $('#force-del-course').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            courseId = button.data('id') // Extract info from data-* attributes
        })   

        delBtn.click( function(){
            forceDeleteForm.action = `/courses/${courseId}/force-delete?_method=DELETE`
            forceDeleteForm.submit()
           })
       });
     
    </script>
  </tbody>
</table>



